*{
	margin: 0;
	padding: 0;
}
body{
	max-width: 768px;
}
.say{
	position: relative;
	height: 80px;
	background:#29bde0;
}
.say img{
	position: absolute;
	top: 30px;
	left: 23px;
}
.sun{
	background:#f0f0f0;
	padding-top: 28px;
	padding-bottom: 40px;

}
.love{
	width: 680px;
	height: 120px;
	background: white;
	font-size: 35px;
	color:#9a9a9a;
	line-height: 120px;
	text-align: center;
	margin-left: 40px;
	border: 1px solid #c9c9c9;
}
.love img{
	float: right;
	margin-top: -80px;
	padding-right: 25px;
}
.foot{
	width: 680px;
	background: white;
	margin-left: 40px;
	border: 1px solid #c9c9c9;
	margin-top: 28px;
}
.foot .feet{
	font-size: 38px;
	color:#fbb435;
	height: 90px;
    border-bottom: 2px solid #fde1ae;
    line-height: 90px;
	text-align: center;
}
.long{
	height: 90px;
	background:#69d1e9;
	width: 500px;
	font-size: 32px;
	color: white;
	margin-top: 30px;
	margin-left: 90px;
	line-height: 90px;
	text-align: center;
}
.long2{
	height: 60px;
	font-size: 25px;
	color:#787878;
	text-align: center;
	line-height: 60px;
}
.tou{
	height: 90px;
	background:#69d1e9;
	width: 500px;
	font-size: 32px;
	color: white;
	margin-left: 90px;
	line-height: 90px;
	text-align: center;
}
.tou img{
	float: right;
	margin-top: -75px;
	margin-right: -60px;
}
.min{
	height: 60px;
	font-size: 25px;
	color:#787878;
	text-align: center;
	line-height: 60px;
}
.hao{
	height: 90px;
	background:#69d1e9;
	width: 500px;
	font-size: 32px;
	color: white;
	margin-left: 90px;
	line-height: 90px;
	text-align: center;
}
.cao{
	height: 60px;
	font-size: 25px;
	color:#787878;
	text-align: center;
	line-height: 60px;
}
.hin{
    padding-left:280px;
}


