*{
	margin: 0;
	padding: 0;
}
body{
	
}
.header{
	background:#29bde0;
	border-bottom: 5px solid #74d4eb;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 2;
}
.header .house{
	position: absolute;
	padding: 20px 0px 20px 20px;
}
.header .gameover{
	font-size: 34px;
	color: white;
	text-align: center;
	padding: 20px 0px 20px 20px;
}
.header .exclamation{
	position: absolute;
	right: 20px;
	top: 20px;
}
.content{
	background: #29bde0;
	margin-top: 89.8px;
	padding-top: 1px;
	border-bottom: 5px solid #31a8c4;
}
.cup{
	width: 351px;
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}
.cup img{
    text-align: center;
    
}
.win{
	width: 100%;
	font-size: 47px;
	color: white;
	position: absolute;
	top: 63%;
	left: 0;
}
.describe{
	/*max-*/width: 500px;
	font-size: 33px;
	color:#ffc865;
	margin: auto;
	margin-top: 20px;
}
.person{
	/*max-*/width: 500px;
	margin: auto;
	font-size: 26px;
	color: white;
	margin-top: 60px;
	padding-bottom: 40px;
}
.time{
	margin-bottom: 10px;
}
.person1{
	display: inline-block;
	margin-right: 40px;
	margin-bottom: 10px;
}
.person2{
	display: inline-block;
	margin-right: 40px;
}
.love{
	margin-bottom: 10px;
}
.blank{
	background: white;
	border-top: 5px solid #dddddd;
	border-bottom: 5px solid #dddddd;
}
.blank .blank-inner{
	/*max-*/width: 500px;
	margin: auto;
	margin-top: 20px;
}
.day{
	font-size: 30px;
	color: #515151;
}
.hour{
	font-size: 20px;
	color: #c7c7c7;
	float: right;
	margin-right: 30px;
}
.course{
    font-size: 26px;
	color:#a6a6a6;
	margin-top: 20px;
}
.procedure{
	font-size: 26px;
	color:#a6a6a6;
	margin-top: 10px;
	margin-bottom: 30px;
}
.know{
	
}
.blank1{
	/*max-*/width: 500px;
	margin: auto;
	margin-top: 20px;
}
.blank1 .day{
	margin-top: 20px;
}
.blank1 .people{
	/*max-*/width: 500px;
	margin: auto;
    font-size: 26px;
	color:#a6a6a6;
	padding-top: 10px;
	padding-bottom: 30px;
}
.innate{
	border-top: 5px solid #dddddd;
}
.innate1{
	/*max-*/width: 580px;
	margin: auto;
	font-size: 40px;
	color:#29bde0;
	padding-top: 20px;
}
.seven{
	float: right;
}
.foot{
	background: rgba(41,189,224,0.5);
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
}
.foot1{
	/*max-*/width: 580px;
	margin: auto;
	font-size: 40px;
	color:white;
	padding-top: 30px;
	padding-bottom: 30px;
}
.again{
	background:#f66f6f;
	border-radius: 8px;
	padding:10px 40px 10px 40px;
}
.upload{
	background:#fbb435;
	border-radius: 8px;
	padding:10px 20px 10px 20px;
	margin-left: 80px;
}
