<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/angular.js/1.6.9/angular.min.js"></script>
</head>
<body>
     <!--<input type="text" ng-model="a" >*<input type="text" ng-8+9model="b">-->
     <!--=<span>{{a*b}}</span>-->

     <!--<br>-->

<!--<ul ng-init="arr=[5,99,56,66,78,8]">-->
    <!--<li ng-repeat="start  in  arr">{{start}}</li>-->
<!--</ul>-->

     <!--<br>-->



     <!--<ul ng-init="json=[g='66',h='cc']">-->
         <!--<li ng-repeat="start  in  json">{{start}}</li>-->
     <!--</ul>-->


     <!--<br>-->

     <!--父元素ng-app="test"-->
     <!--<div ng-controller="zhangsan">-->
         <!--<span>{{a}}</span>-->
     <!--</div>-->

     <!--<script>-->
        <!--var app=angular.module('test',[]);-->
        <!--app.controller('zhangsan',function ($scope){-->
            <!--$scope.a=12;-->
        <!--});-->
     <!--</script>-->

     <!--<br>-->

   <ul ng-init="users=[{name：‘王寒’，age：18},{name：'cat',age:18}]">
       <li ng-repeat="user in users">
            姓名：{{user.name}}
       </li>
   </ul>



</body>
</html>